
.task3-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 60px;
  input {
    width: 20%;
    margin-bottom: 20px;
  }
}


.result {
  width: 100px;
  height: 20px;
}